$secondary: rgba(
  $color: #212121,
  $alpha: 0.8,
);

.mynavbar {
  position: fixed;
  background-color: $secondary;
}

.home {
  color: white;
}

.registration {
  color: white;
}

@media screen and (min-width: 1000px) {
  .menuItem {
    width: 80px;
    height: 30px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0.5em;
    transition: box-shadow 1s;
    text-decoration: none;
  }

  .Link {
    text-decoration: none;
  }

  .menuItem:hover {
    transition: 1s;
    cursor: pointer;
  }

  .mynavbar {
    display: flex;
    top: 0;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: rgba($color: #212121, $alpha: 0.8);
  }

  .user-space {
    display: flex;
    justify-content: end;
    width: 15vw;
  }
  .searchbar {
    /*  margin: 0.5em;
    position: absolute;
    right: 1em; */

    input[type="text"],
    textarea {
      background-color: rgba($color: #7c7c7c, $alpha: 0.5);
      box-shadow: 0;
      border: 0;
      color: whitesmoke;
      font-weight: 400;
      height: 1.5em;
      font-size: 1em;
    }
    input[type="text"]:focus,
    textarea:focus {
      outline: none;
    }
  }

  .center-links {
    display: flex;
    justify-content: center;
  }

  .home-link {
    color: white;
    width: 15vw;
  }
  .home {
  }

  .registration {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15vw;
    top: 1.5vh;
  }
}

@media screen and (max-width: 1000px) {
  .searchbar {
    display: none;
  }
  .menuItem {
    display: none;
  }
  .mynavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    bottom: 0px;
  }
}

.logged-user {
  color: white;
  float: right;
  justify-self: end;
  margin-left: 1em;
  margin-right: 1em;
}

.login-link {
  color: white;
}

.home-icon {
}
