$primaryBg: whitesmoke;
$secondary: rgba(
  $color: #212121,
  $alpha: 0.8,
);

.App {
  padding-bottom: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  background-color: $primaryBg;
}

.mycontent {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  form {
    display: flex;
    justify-content: center;
    .reg-form {
      background-color: rgba($color: #a6a6a6, $alpha: 0.1);
      box-shadow: 0 2px 10px -5px;
      padding: 3em;
      label {
        color: black;
      }
    }
  }
}

.users-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.userInfo {
  flex-grow: 0.03;
  width: 250px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px -5px;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    border-radius: 50%;
  }
}

.userInfo:hover {
  background-color: rgba($color: #d5d5d5, $alpha: 1);
}

.regBtn {
  margin-top: 2em;
}

.regTitle {
  flex-grow: 1;
  width: 100vw;
  margin: 1em;
  text-align: center;
}

.registerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

input[type="text"],
input[type="password"] {
  border-radius: 10px;
  border: 0;
  box-shadow: 0 2px 10px -5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 2px solid $secondary;
}

input[type="text"]:hover,
input[type="password"]:hover {
  outline: 1px solid grey;
}

button {
  border: 2px solid black;
  color: white;
  background-color: $secondary;
  border-radius: 5px !important;
}
button:hover {
  border: 2px solid grey;
}

.success-msg {
  width: 40vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
